
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div id = "map-outer">
        <div id="map-inner">
                <svg id="svg_ow" class="hide"  xmlns="http://www.w3.org/2000/svg"></svg>
                <svg id="svg_map" xmlns="http://www.w3.org/2000/svg"  viewBox="-10 -10 95 95"  z-index="444">
                    <defs>
                        <g class="ro" id="0" > <rect x="2" y="2" width="8" height="8" rx="1"/></g>
                        <g class="ro" id="1" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="2" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="3" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="4" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="5" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="6" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="7" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="8" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="9" > <rect x="2" y="2" width="8" height="8" rx="1"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="10" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="11" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="12" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="13" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="14" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="15" ><rect x="2" y="2" width="8" height="8" rx="1"/><path d="M9.5,4.5 l 5,0, l 0,3, l -5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,2.5 l 0,-5, l 3,0, l 0,5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M4.5,9.5 l 0,5, l 3,0, l 0,-5 z" pathLength="16" stroke-dasharray="5 3 5 3"/><path d="M2.5,4.5 l -5,0, l 0,3, l 5,0 z" pathLength="16" stroke-dasharray="5 3 5 3"/></g>
                        <g class="ro" id="d1"  ><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d2"  ><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d3"  ><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d4"  ><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d5"  ><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d6"  ><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d7"  ><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d8"  ><path d="M8,2  l7,-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d9"  ><path d="M8,2  l7,-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d10" ><path d="M8,2  l7,-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d11" ><path d="M8,2  l7-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d12" ><path d="M8,2  l7-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d13" ><path d="M8,2  l7-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d14" ><path d="M8,2  l7-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g class="ro" id="d15" ><path d="M8,2  l7-7 l2,2 l-7,7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M4,2  l-7,-7 l-2,2 l7,7 Z"  pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M8,10  l7,7 l2,-2 l-7,-7 Z" pathLength="18" stroke-dasharray="7 2 7 2"/><path d="M2,8  l-7,7 l2,2 l7,-7 Z"   pathLength="18" stroke-dasharray="7 2 7 2"/></g>
                        <g id="256" fill="#834593" ><polygon points="2.5 2.5 9.5 2.5 2.5 9.5 2.5 2.5"/></g>
                        <g id="512" fill="#72773b" ><polygon points="9.5 9.5 2.5 9.5 9.5 2.5 9.5 9.5"/></g>
                    </defs>
                </svg>
                <svg id="svg_hero" xmlns="http://www.w3.org/2000/svg"  viewBox="-10 -10 95 95"  z-index="555">
                    <defs>
                        <g id='hero' fill="#3333AA44" stroke-width="2" stroke="#456193"><rect  rx="2" ry="2 "x="0" y="0" width="12" height="12"/></g>
                    </defs>
                <use id="dude" class="hide" transform-origin="6px 6px" xlink:href="#hero"  x="0" y="0">
                </svg>
            <div id="map-resize-handle"></div> 
        </div>
    </div>
    
    
    <div id="levels">
        <div class="dot" id="dot90" onmouseup="change_level(event)"></div>
        <div class="hide dot" id="dot8"></div><div class="hide dot" id="dot7"></div><div class="hide dot" id="dot6"></div><div class="hide dot" id="dot5"></div><div class="hide dot" id="dot4"></div><div class="hide dot" id="dot3"></div><div class="hide dot" id="dot2"></div><div class="hide dot" id="dot1"></div><div class="hide dot" id="dot0"></div><div class="hide dot" id="dot-1"></div><div class="hide dot" id="dot-2"></div><div class="hide dot" id="dot-3"></div><div class="hide dot" id="dot-4"></div><div class="hide dot" id="dot-5"></div><div class="hide dot" id="dot-6"></div><div class="hide dot" id="dot-7"></div><div class="hide dot" id="dot-8"></div><div class="hide dot" id="dot-9"></div><div class="hide dot" id="dot-10"></div><div class="hide dot" id="dot-11"></div>
    </div>
    <div class="hud-stack">
        <div id=output></div>
        <div id="room-data"></div>
        <div class="input-bar"><input id="input" type="text" placeholder="Type message...">
    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ansi_up@5.0.0/ansi_up.min.js"></script>

<script> // keybindings
    const KeyDownActions = [
        "Numpad1","Numpad2","Numpad3","Numpad4","Numpad5", "Numpad6","Numpad7","Numpad8","Numpad9","NumpadAdd","NumpadSubtract","NumpadDivide",
        "F1","F2","F3","F4","F5","F6","F7","F8","F9","F10","F11","F12"
    ];
    function sendKey(data,alt,ctrl,shift) 
    {
      socket.emit('fkey', {'fkey': data,"alt": alt, "ctrl": ctrl, "shift": shift });
    }
  
    document.addEventListener("keydown", (event) => {  
    if (KeyDownActions.includes(event.code)) 
        {
          event.preventDefault(); 
            sendKey(event.code,event.altKey,event.ctrlKey,event.shiftKey);        
        }
    });
</script>
<script> // input (completes from history and deselects with arrow etc.)
    const history = [];
    const MAX_HISTORY = 25;
    let historyIndex = -1;
    let tempInput = '';
    const input = document.getElementById("input");

    input.addEventListener("keydown", function(e) 
    {
        if (e.key === "Enter")
        {
            const val = input.value.trim();
            if (val.length >2)
            {
                if (history.length === 0 || history[history.length - 1] !== val)
                {
                    history.push(val);
                    if (history.length > MAX_HISTORY) history.shift();
                }
                historyIndex = history.length; 
            }
            socket.emit('msg', {'msg': val});
            input.select(); 
        } else if (e.code === 'ArrowUp') 
        {
            const val = input.value.trim()
            e.preventDefault();
            if (val !== '')
            {
                const match = [...history].reverse().find(entry => (entry.startsWith(val)&& entry !== val));
                if (match) 
                {
                    input.value = match;
                    input.select(); 
                    return
                }
            }
            if (input.selectionStart !== input.selectionEnd) 
            {
                input.focus();
                input.selectionStart = input.selectionEnd = input.value.length;
            } 
            else
            {
                if (historyIndex === history.length) tempInput = input.value; 
                historyIndex--;
                input.value = history[historyIndex];
            }
        
        
        } else if (e.code === 'ArrowDown') 
        {
            if (historyIndex < history.length - 1) 
            {
                historyIndex++;
                input.value = history[historyIndex];
            } else if (historyIndex === history.length - 1) 
            {
                historyIndex++;
                input.value = tempInput; 
            }
            e.preventDefault();
    
        } else if (e.code === "ArrowLeft") 
        {
            if (input.value.length > 0 && input.selectionStart === 0 && input.selectionEnd === input.value.length) 
            {
                input.focus();
                input.selectionStart = input.selectionEnd = Math.max(input.value.length - 1, 0);
                e.preventDefault();
            } 
    
        } else if (e.code === "Tab")
        {
            const val = input.value.trim();
            e.preventDefault();
            if (val === '') return;
            const match = [...history].reverse().find(entry => entry.startsWith(val));
            if (match) 
            {
                input.value = match;
                input.select(); 
            }
        }
    });
</script>
<script> // output + parsing socket outout

    const output = document.getElementById("output");
    
    var outputbufferSize = 0

    const ansi_up = new AnsiUp();
    const socket = io({
          transports: ['websocket'] 
      });
    
    output.addEventListener("mouseup", () => { 
           const isAtBottom = output.scrollHeight - output.scrollTop - output.clientHeight <= 2;
           if (isAtBottom) {
              const selection = window.getSelection();
              if (selection && !selection.isCollapsed) {
                  const anchorNode = selection.anchorNode;
                  const focusNode = selection.focusNode;
                  const isInsideOutput = output.contains(anchorNode) || output.contains(focusNode);
                  if (isInsideOutput) {
                     return;
                  }
              }
              input.focus()
              input.setSelectionRange(input.value.length, input.value.length);
           } 
      });


    socket.on('output', data => 
    {
        
        if (data.output) // actual mud text.
        {
            const fragment = document.createDocumentFragment(); 
            const div = document.createElement("div");
            div.innerHTML = ansi_up.ansi_to_html(data.output);
            const isAtBottom = output.scrollHeight - output.scrollTop - output.clientHeight <= 2;
            fragment.appendChild(div);
            if (outputbufferSize >= 100){
                output.removeChild(output.firstElementChild);
            }
            else {
                outputbufferSize++;
            }
            
            output.appendChild(fragment);
            if (isAtBottom) {
                    output.scrollTop = output.scrollHeight;
            }
        }

    });
</script>

<script> //map
    const xlinkns = "http://www.w3.org/1999/xlink";
    const svgns = "http://www.w3.org/2000/svg";
    const container = document.getElementById("map-inner");
    const map_resize_handle = document.getElementById('map-resize-handle');
    const svg_map = document.getElementById('svg_map');
    const svg_ow = document.getElementById('svg_ow');
    const svg_hero = document.getElementById('svg_hero');
    const dude = document.getElementById('dude');
    let mapHandleisDragging = false;
    var levels = [];
    var current_lvl = document.getElementById("dot90");
    var min_y =-1;
    var min_x =-1;
    var max_y = 1;
    var max_x = 1;
    var hero_lvl = 0;


    map_resize_handle.addEventListener('mousedown', () => {
        mapHandleisDragging = true;
    });

    document.addEventListener('mouseup', () => {
        mapHandleisDragging = false;
    });

    document.addEventListener('mousemove', (e) => {
        if (mapHandleisDragging) 
        {
            const rect = container.getBoundingClientRect();
            const newSize = rect.right - e.clientX;
            container.style.width = newSize + 'px';
            scaleviewbox()
        }
    });

// Scale the map to fill the entire area.
    function scaleviewbox()
    {
        const viewBoxX = (min_x - 1) << 4;
        const viewBoxY = (min_y - 1) << 4;
        const viewBoxWidth = (max_x - min_x + 3) << 4;
        const viewBoxHeight = (max_y - min_y + 3) << 4;
        svg_map.setAttribute("viewBox", `${viewBoxX} ${viewBoxY} ${viewBoxWidth} ${viewBoxHeight}`);
        svg_hero.setAttribute("viewBox", `${viewBoxX} ${viewBoxY} ${viewBoxWidth} ${viewBoxHeight}`);
        const aspectRatio = viewBoxWidth / viewBoxHeight;
        const mapInner = document.getElementById("map-inner");
        const width = mapInner.offsetWidth;
        mapInner.style.height = `${width / aspectRatio}px`;
    }







    function change_level(evt)
    {    
        document.querySelectorAll('.clone').forEach(element => element.remove());
        current_lvl.classList.remove("dot2");
        evt.target.classList.add("dot2");
        current_lvl=evt.target;
        recalculate_visible_layers(evt.target.id.substring(3)) ;
    }

// Checking whether to change level, then scaling elements and hiding/showing other levels.
    function recalculate_visible_layers(level)
    {     
        svg_ow.classList.toggle("hide",level!=90)
        svg_map.classList.toggle("hide",level==90)
        svg_hero.classList.remove("hide")   
        dude.classList.toggle("hide",(level!=hero_lvl || level == 90));       
        for (i = 0; i < levels.length; i++)
        {
            levels[i].classList.toggle("hide",(levels[i].id!="z"+level));
            if (levels[i].id=="z"+level)
            {
                min_x = levels[i].getAttribute("minx");
                max_x = levels[i].getAttribute("maxx");
                min_y = levels[i].getAttribute("miny");
                max_y = levels[i].getAttribute("maxy");
                scaleviewbox()
            }
        }          
    }
    function remove_room(x,y,z){
        let room = document.getElementById("R"+x+":"+y+":"+z);
        if (room)
            room.parentNode.remove(room)
        
    }
// Drawing the SVG room
    function room(x,y,z,room_type,fog=false)
    {
        var svg = svg_map.getElementById("z"+z)
        if(svg == null )
        {
            divi = document.getElementById("dot"+z);
            if(!divi)
            {
                console.log("OOPS lvl "+z+" does not exist");
                return;
            }
            divi.classList.remove("hide");
            divi.classList.add("dot");
    	    divi.addEventListener('mouseup', change_level);
    	    svg = document.createElementNS(svgns, "g");
    	    svg.setAttribute("id","z"+z);
    	    svg.classList.add("hide");
            svg.setAttribute("minx",x);svg.setAttribute("maxx",x);svg.setAttribute("miny",y);svg.setAttribute("maxy",y);	
    	    svg_map.appendChild(svg);
    	    levels.push(svg);
      

      
		} 
        else {
            svg.setAttribute("minx",Math.min(parseInt(svg.getAttribute ("minx")),x));
            svg.setAttribute("maxx",Math.max(parseInt(svg.getAttribute ("maxx")),x));
            svg.setAttribute("miny",Math.min(parseInt(svg.getAttribute ("miny")),y));
            svg.setAttribute("maxy",Math.max(parseInt(svg.getAttribute ("maxy")),y))	
        }
        max_x = Math.max(x,max_x);min_x = Math.min(x,min_x);max_y = Math.max(y,max_y);min_y = Math.min(y,min_y);         

        
        
        g = remove_room(x,y,z)
        g = document.createElementNS(svgns, "g");
		svg.appendChild(g);   
        
        
        var room_base = document.createElementNS(svgns, "use");	    
		room_base.setAttributeNS(null,"y",y << 4)
        room_base.setAttributeNS(null,"x",x << 4)
        room_base.setAttributeNS(null,"id",`R${x}:${y}:${z}`);        
        room_base.setAttributeNS(xlinkns, "href", "#"+(room_type % 16));
		room_base.classList.add("room")
        g.appendChild(room_base);

        if (room_type & 31457280)
        {
    	    var room_diagonals = document.createElementNS(svgns, "use");	
    	    room_diagonals.setAttribute("y" , y << 4);
    	    room_diagonals.setAttribute("x" , x << 4);
            room_diagonals.setAttributeNS(xlinkns, "href", "#d"+((room_type >> 21) & 15));   
            room_diagonals.classList.add("room");
            room_diagonals.setAttributeNS(null,"id",`R${x}:${y}:${z}:2`);
    	    g.appendChild(room_diagonals);
        }  
		if(room_type & 256)
        {			
    			var staircase_up = document.createElementNS(svgns, "use");	
    			staircase_up.setAttribute("y",y<<4);staircase_up.setAttribute("x",x<<4);
    			staircase_up.setAttributeNS(xlinkns, "href", "#256");
    			g.appendChild(staircase_up);
		}
		if(room_type & 512)
        {
    			var staircase_down = document.createElementNS(svgns, "use");	
    			staircase_down.setAttribute("y",y<<4);staircase_down.setAttribute("x",x<<4);
    			staircase_down.setAttributeNS(xlinkns, "href", "#512");
    			g.appendChild(staircase_down);
		}
        if (fog)
        {        
            g.classList.add("fog")
        }
    }

//  server provides updated data; client now clears old map and renders new.
    socket.on('map', (data) => {  
        if (data.clear) 
        {
            levels.forEach(el => el.remove());
                for (let i = 8; i >= -11; i--) {
                const el = document.getElementById(`dot${i}`);
                if (el) el.classList.add("hide");
            }
        }
        if (data.rooms)
        {
            
            const rooms = data.rooms;
            for (const item of rooms) {
                room(item.x, item.y, item.z, item.v, true);
            }
        }
        if (data.lines)
        {
            
            const l = data.lines;
            for (const item of l) {
                draw_line(item.x, item.y, item.z, item.x2,item.y2);
            }
        }

    });
// Two extended lines on the map: black below rooms, grey above.
    function draw_line(x,y,z,x2,y2)
    { 
            console.log(x,y,z,x2,y2)
            elem = svg_map.getElementById(`R${x}:${y}:${z}`)
            elem2 = svg_map.getElementById(`R${x2}:${y2}:${z}`)
            if(elem == null || elem2 == null ){
                console.log(elem,elem2)
                return
                
            } 
            parent1 = elem.parentNode
            parent2 = elem2.parentNode
            const path = document.createElementNS(svgns, "path");
            const path2 = document.createElementNS(svgns, "path");
            const startX =  (x << 4)+6;
            const startY =  (y << 4)+6;
            const endX = (x2 << 4)+6;
            const endY = (y2 << 4)+6;
            const midX = startX + (endX - startX) / 2;
            const midY = startY + (endY - startY) / 2;
            const dValue = "M" + startX + "," + startY + " L" + midX + "," + midY;
            const dValue2 = "M" + endX + "," + endY + " L" + midX + "," + midY;
            path.setAttribute("d", dValue);
            path3 = path.cloneNode(true);
            path.classList.add("map-line");
            path3.classList.add("map-line2");
            path2.setAttribute("d", dValue2);
            path4 = path2.cloneNode(true);
            path2.classList.add("map-line");
            path4.classList.add("map-line2");
            parent1.insertBefore(path, parent1.firstChild);
            parent1.insertBefore(path3,elem.nextSibling)
            parent2.insertBefore(path2, parent2.firstChild);
            parent2.insertBefore(path4,elem2.nextSibling)
        } 
</script>
</body>
</html>